header {
  background-color: rgb(103, 103, 233);
  height: 70px;
  left: 1vw;
  right: 1vw;
  top: -10px;
  padding-top:10px ;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0 2px 2px 2px #222;
  position: fixed;
  } 
.content{
  background: url('images/background.jpg');
  height: 300vh;
  left: 1vw;
  right: 1vw;
  margin-top: 90px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.history, .games, .credits{
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}
footer{
  height: 60px;
  left: 1vw;
  right: 1vw;
  background-color: rgb(103, 103, 233);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 -2px 2px 2px #222;
  margin: 5px;
  position: fixed;
  bottom: -10px;
  padding-bottom:10px ;
}
footer p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 4px;
  font-size: large;
  font-weight: 400;
    
}
.logo {
  background-color: cornflowerblue;
  border-radius: 10px;
  display: flex;
  align-items: center;
  height: 80%;
  width: 20%;
  min-width: 145px;
  max-width: 160px;
  justify-self: left;
  margin-left: 4px;
}
.menu {
  display: flex;
  align-items: center;
  height: 80%;
  flex-grow: 1;
  justify-content: space-around;
      
}
.social {
  display: flex;
  align-items: center;
  height: 80%;
}
.logo p img{
  height: 50px;
}
.logo p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 4px;
  font-size: large;
  font-weight: 1000;
}
.menu p a, footer p a, .logo p a {
  color: #222;
  text-decoration:none;
  transition: all 100ms ease-in;
}
a:hover {
  color: rgb(255, 255, 255);
}
.menu p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 4px;
  font-size: large;
  font-weight: 400;
}
  .social p img {
  height: 42px;
  width: 42px;
  margin-right: 4px;
  margin-top: 4px;
}
.menu p a:hover, footer p a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(158, 159, 245);
  padding: 5px;
  border-radius: 5px;
  transition: all 0.2s ease-out;
}
.games{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vh;
}
/*меню для игр*/
.gamesmenu{
  width: 972px;
  justify-content: space-between;
  display: flex;
}
.gamesmenu input{
  height: 40px;
  width: 23%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12pt;
  margin-top: 40px;
}
.button{
  border-radius: 10px;
  border-bottom-color: rgb(146, 119, 245);
}
                                     /*ИГРА1*/
.game1 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  height: 500px;
}
.pixelgame{
  height: 352px;
  max-width: 352px;
  min-width: 352px;
}
button {
  height: 20px;
  width: 20px;
  margin: 1px;
  border: solid;
  border-width: 1px;
}
                                     /*ИГРА1*/
                                     /*ИГРА2*/
.game2{
 display: none;
 justify-content: space-around;
 width: 100%;
 align-items: center;
 height: 500px;
}
.randnumb input[type="number"] {
  border: 0;
  padding: 0;
  text-align: center;
}
#randIn , #rendAnswer {
  visibility: hidden;
}
.rand {
  background-color:white;
}
.randnumb input, .randnumbinfo input , .tictacinfo input{
  width: 256px;
  height: 25px;
}
.randnumb{
  width: 352px;
}
.randnumb p , .pixelgameinfo p , .tictacinfo p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12pt;
  margin-left: 15px;
}
.randnumbinfo, .pixelgameinfo , .randnumbinfo , .tictacinfo {
  width: 600px;
  max-width: 600px;
  margin-left: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
                                     /*ИГРА2*/
                                      /*игра3*/
.game3{
  display: none;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  height: 500px;
}
.tictac{
  display: flex;
  width: 352px;
  height: 352px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-width: 352px;
}
.cell{
  height: 110px;
  width: 110px;
  border-style: solid;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 56px;
  border-bottom-color: rgb(146, 119, 245);
}
                                      /*игра3*/
                                      /*игра4*/
.game4{
  display: flex;
  justify-content: center;
  width: 972;
  align-items: center;
  height: 500px;
  flex-direction: column;
}
.dinogame{
  display: flex;
  width: 972;
  height: 300px;
}
.dinoinfo{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 972;
  height: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12pt;
}
                                      /*игра4*/