img {
    width:75%;
    border: 8px;
    border-style: solid;
    border-color: brown;
    margin-left: 25px;
}
.content {
   color:brown;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: medium;
}
