img{
   height: 400px;
   border: 4px;
   border-style: dotted;
   border-color:aqua;
}
p, ol, a {
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large ;
    margin-left: 50px;
}

